@media only screen and (max-width: 1023px)
#InfographicContainer {
}
#InfographicContainer {
    position: relative;
}
@media only screen and (max-width: 1023px)
#InfographicContainer {
}
#InfographicContainer {
    position: relative;
}
@media only screen and (max-width: 1023px)
#InfographicContainer {
}
#InfographicContainer {
    position: relative;
}
.Flex {
    display: flex;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    flex-wrap: wrap;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background: white;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
    font-size: 1rem;
    line-height: 1.75;
    font-family: "proxima-nova", sans-serif;
    color: #333333;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
}
::selection {
}

* {
    box-sizing: border-box;
}
path[Attributes Style] {
    fill: rgb(51, 51, 51);
    d: path("M 674.339 101.505 c -15.621 15.621 -40.948 15.621 -56.569 0 s -15.621 -40.948 0 -56.569 s 40.948 -15.621 56.569 0 S 689.96 85.884 674.339 101.505");
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.TextCenter {
    text-align: center;
}
.Flex {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}
body {
    margin: 0;
    padding: 0;
    background: white;
    font-size: 1rem;
    line-height: 1.75;
    font-family: "proxima-nova", sans-serif;
    color: #333333;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
}
::selection {
}

* {
    box-sizing: border-box;
}
circle[Attributes Style] {
    fill: transparent;
    stroke: rgb(51, 51, 51);
    stroke-width: 6;
    stroke-miterlimit: 10;
    cx: 518.776;
    cy: 201.429;
    r: 100;
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.TextCenter {
    text-align: center;
}
.Flex {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}
body {
    margin: 0;
    padding: 0;
    background: white;
    font-size: 1rem;
    line-height: 1.75;
    font-family: "proxima-nova", sans-serif;
    color: #333333;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
}
::selection {
}

element.style {
}
* {
    box-sizing: border-box;
}
rect[Attributes Style] {
    x: 160;
    y: 460;
    fill: transparent;
    width: 220;
    height: 95;
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
.TextCenter {
    text-align: center;
}
.Flex {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}
body {
    margin: 0;
    padding: 0;
    background: white;
    font-size: 1rem;
    line-height: 1.75;
    font-family: "proxima-nova", sans-serif;
    color: #333333;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
}
::selection {
}

#InfographicContainer svg {
    max-width: 100%;
}
#InfographicContainer svg {
    max-width: 100%;
}
#InfographicContainer svg {
    max-width: 100%;
}
svg:not(:root) {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
* {
    box-sizing: border-box;
}
svg[Attributes Style] {
    height: 1024px;
    width: 700px;
    y: 0px;
    x: 0px;
}
user agent stylesheet
svg:not(:root) {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
.TextCenter {
    text-align: center;
}
.Flex {
    justify-content: center;
    display: flex;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    flex-wrap: wrap;
}
body {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background: white;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
    font-size: 1rem;
    line-height: 1.75;
    font-family: "proxima-nova", sans-serif;
    color: #333333;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
}
::selection {
}